language: cpp
compiler: gcc
sudo: require
dist: xenial
cache:
  ccache: true
  directories:
  - $HOME/.ccache
  - $HOME/.cache/apt

before_install:
  - mkdir -p $HOME/.cache/apt/partial
  - sudo rm -rf /var/cache/apt/archives
  - sudo ln -s $HOME/.cache/apt /var/cache/apt/archives

install:
  - sudo apt-get -y install python3-pip libxpm-dev libcurl3 libcurl4-openssl-dev automake libtool desktop-file-utils nasm ccache libgl1-mesa-dev
  - sudo apt-get build-dep libmpv1
script:
  - UPLOAD=1 ./build-deps.sh
  
branches:
  except:
    - /^(?i:continuous)/


